@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth !important ;
}
:root{
    --text-color:#fff;
    
    --main-color:#ff9100;
    --second-color:#858585;
    --bg-color:#1e1c2a;
     --big-font:4.5rem;
    --h2-font:2.6rem;
    --p-font:1.1rem;
}
.main-tex h2{
  justify-content: center;
  font-size: var(--h2-font);
  margin-bottom: -30px;
}


 .partner{
 
  width: 960px;
  height: 310px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 25px 50px rgba(104, 95, 95, 0.55);
  cursor: pointer;
  margin-top: 50px;
  overflow: hidden;
  margin-left: 100px;
  
} 
.partner img{
  height: 70px;
}
.flex{
  display: flex;
  height: 200px;
}
.flex-printer{
  display: flex;
  height: 210px;

}
.stand{
  height: 350px;
  display: flex;
}
.billbod{
  display: flex;
  height: 213px;
}


body{
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    background-size: 1600px;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 15%;
    transition: all .38s ease;
}
.sticky img{
    height: 100px;
}
.container-img img{
    width: 100px;
    height: 50px;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);

}
span{
    color: var(--main-color);
}
span.print{
    font-size: 4rem;
    
}
.print{

    font-size: 3rem;
}


.printt{
    margin-top: 50px;
    padding-top:50px ;
    font-size: 2.1rem;
}


.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    padding:5px 10px ;
    margin: 2px 25px;
    border-bottom: 2px solid transparent;
    transition:all .38s ease;

}
.navbar a:hover{
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);

}
.h-icons{
    display: flex;
    align-items: center;
    padding:10px 22px;
    background: var(--main-color);
    border-radius: 5rem;
}
.h-icons i{
    font-size: 22px;
    color: var(--bg-color);
    margin-right: 15px;
    margin-left: 8px;

}

#menu-icon{
    font: size 32px;
    color: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding:80px 15% 80px;

}
.dp-main{

    display: flex;
    margin-top: 100px;
    margin-left: 120px;
    
    

}

.digital-printing img{
  height: 450px;
  margin-top: 50px  ;
}
.dp-img img{
    height: 460px;
    margin: 4px 0px 100px 300px;
}

.home{
 height: 88vh;
  width: 100%;   
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap:2rem;

}
.home-img img{

width:100%;
height:auto;

}
.home-text h1{
    
    line-height: 1.2;
    margin-bottom: 2rem;

}
.home-text p{
    font-size: var(--p-font);
    font-weight: 500;
    color:var(--second-color);
    line-height: 32px;
    margin-bottom: 2.3rem;
}

.btn{

    display: inline-block;
      padding: 14px 26px;
      background: var(--main-color);
      color:purple;
      font-size: 15px;
      font-weight: 600;
      border-radius: 5rem;
      transition: all .38s ease  ;  
}
.btn:hover{
    letter-spacing: 1px;
}

header.sticky{
    padding: 10px 15%;
    background: var(--bg-color);
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}
.main-text h2{
  
    font-size: var(--h2-font);
    margin-bottom: -50px;
}
.main-text h3{
  margin-left: 5%;
  font-size: var(--h2-font);
  margin-bottom: -10px;
}
.main-text p{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--second-color);
    line-height: 32px;
    margin-top: 60px;

}
.container-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 2rem;
    align-items:center;
    margin-top: 4rem;
}
.ag-format-container{
  width: 1400px;
  margin: 0 auto;
}
.c-mainbox{
display: flex;
align-items: center;
justify-content: center;
gap: 1.4rem;
border-radius: 10px;
height: 90px;
width: 220px;
background: var(--bg-color);
box-shadow: rgba(17,12, 46, 0.15)0px 48px 100px 0px;
transition: all .3s ease;
}

.container-text p{
    font-size: var(--p-font);
    font-weight: 500;
}
 
.c-mainbox:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.about{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

 .about-img img{
    height: auto;
    width:100%;

 }

 .about-text h2{
    font-size: var(--h2-font);
    margin-bottom: 2rem;
    line-height:1.3 ;
 }

 .about-text p{
    font-size: var(--p-font);
    color:var(--second-color);
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 2.3rem;
 }

 .menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
gap: 2rem;
 align-items: center;
 margin-top: 4rem;
 cursor: pointer;
 }

 .row img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
 }

 .row{
    transition: all .38s ease;

 }
.menu-text{
display: flex;
align-items:center;
justify-content: space-between;
padding:15px 0;
}
.menu-left h4{
    font-size:23px;
}

.menu-right h5{
     
color: var(--main-color);
font-size: 23px;
}
.row p{
    color:var(--second-color);
    font-size:15px;
    line-height: 30px;
    margin-bottom:15px;

}

.star i{
    color: var(--main-color);
     font-size: 17px;
     margin-right: 4px;
}
.row:hover{
    transform:scale(1.02) ;
}

#main-textt{
  margin-left: 30%;
  margin-bottom: 80px;

}

.contact{
    padding: 50px 15% 40px;
    background-color: #2d2d35;
}

.main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 2rem;

}


.contact-content h4{
     font-size: 20px;
     color:yellow;
     margin-bottom: 1.5rem;
}

.contact-content li{

margin-bottom: 16px;
}

.contact-content li a{
    display: block;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .38s ease;
}

.contact-content li a:hover{
    transform: translateX(10px);
    color: var(--main-color);

}

.last-text p{
    text-align: center;
    padding: 25px;
    color: var(--text-color);
    font-size: 15px;
    letter-spacing: 1px ;
    background-color: #2d2d35;
  
}

.scroll-top{
    position: fixed;
    bottom: 2.2rem;
    right: 2.2rem;
}

.scroll-top i{
    padding: 8px;
    font-size: 1.4rem;
    color: #fff;
    background: var(--main-color);
    border-radius: 5rem;

}
@media(max-width:1280px){

    section{
        padding:70px 2%;
        transition: .2s;
    }
    header{
        padding:11px 2%;
        transition: .2s;
    }
    header.sticky{
      height: 80px;
        padding:8px 2%;
        transition:0.2s;
    }
    .contact{
        padding:70px 2%;
        transition: .2s;
    }
}

@media (max-width:1280px){
  .main-text{
    color: var(--second-color);
  }

    section{
        padding:70px 2%;
        transition: .2s;
    }
    :root{
        --big-font:3.2rem;
        --h2-font:2rem;
        --p-font: 1rem;
        transition: .2s;
    }
    }

    /* @media(max-width:880px){
        #menu-icon{
            display:block;

        }  
        .menu-container{
          display: grid;
          grid-template-columns: repeat(auto-fit,minmax(160px,auto));
      gap: 1rem;
       align-items: center;
       margin-top: 4rem;
       cursor: pointer;
        }
        .row img{
          width: 100%;
          height: 150px;
          border-radius: 10px;
       }
       
        } */

        @media (max-width: 820px){
            :root{
                --big-font:3rem;
                --h2-font:1.8rem;
             transition: .2s;
            }
            .container-box{
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(50px,auto));
              gap: 2rem;
              align-items:center;
              margin-top: 4rem;
          }
          
          
            
            .home{
                grid-template-columns: 1fr;
                height:114vh;

            }
            .home-img{
                text-align: center;
            }
            .text-img img{
                height: auto;
                max-width: 590px;
                width: 100%;

            }
            .home-text{
                padding-top: 50px;

            }
            .about{
                grid-template-columns: 1fr;
            }
            .about-img{
                text-align: center;
            }

            .about-img img{
                height: auto;
                max-width: 590px;
                width: 100%;
            }
        }
        /* section{
          padding:70px 2%;
          transition: .2s;
      } */
     .ag-format-container {
            width: 1400px;
            margin: 0 auto;
            /* margin-left: 70px; */
              
          }
         .ag-courses_box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
          width: 1100px;
            padding: 20px 0;
            margin-left: 5%;
          
          }
          .ag-courses_item {
            /* -ms-flex-preferred-size: calc(10.33333% - 10px);
            flex-basis: calc(33.33333% - 120px); */
          width: 210px;
            margin: 20px 15px 20px;
          
            overflow: hidden;
          justify-items: center;
          justify-content: center;
          text-align: center;
            border-radius: 28px;
          }
          .ag-courses-item_link {
            display: block;
            padding: 30px 20px;
            background-color: #121212;
          
            overflow: hidden;
          
            position: relative;
          }
          .ag-courses-item_link:hover,
          .ag-courses-item_link:hover .ag-courses-item_date {
            text-decoration: none;
            color: #FFF;
          }
          .ag-courses-item_link:hover .ag-courses-item_bg {
            -webkit-transform: scale(10);
            -ms-transform: scale(10);
            transform: scale(10);
          }
          .ag-courses-item_title {
            min-height: 87px;
            margin: 0 0 25px;
          
            overflow: hidden;
          
            font-weight: bold;
            font-size: 20px;
            color: #FFF;
          text-align: center;
            z-index: 2;
            position: relative;
          }
          .ag-courses-item_date-box {
            font-size: 18px;
            color: #FFF;
          
            z-index: 2;
            position: relative;
          }
          .ag-courses-item_date {
            font-weight: bold;
            color: #f9b234;
          
            -webkit-transition: color .5s ease;
            -o-transition: color .5s ease;
            transition: color .5s ease
          }
          .ag-courses-item_bg {
            height: 150px;
            width: 140px;
            background-color: #f9b234;
          
            z-index: 1;
            position: absolute;
            top: -75px;
            right: -75px;
          
            border-radius: 50%;
            -webkit-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
          }
          .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
            background-color: #3ecd5e;
          }
          .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
            background-color: #e44002;
          }
          .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
            background-color: #952aff;
          }
          .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
            background-color: #cd3e94;
          }
          .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
            background-color: #4c49ea;
          }
          
          
          
          /* @media only screen and (max-width: 979px) {
            .ag-courses_item {
              -ms-flex-preferred-size: calc(50% - 30px);
              flex-basis: calc(50% - 30px);
            }
            .ag-courses-item_title {
              font-size: 24px;
            }
          } */
          
          /* @media only screen and (max-width: 767px) {
            .ag-format-container {
              width: 96%;
             
            }
          
          } */
          @media only screen and (max-width: 639px) {
            section{
              padding:70px 2%;
         transition: .2s;
            }
            .main-text{
              color: var(--second-color);
            }
            .ag-courses_item {
              -ms-flex-preferred-size: 90%;
              flex-basis: 90%;
            }
            .ag-courses-item_title {
              min-height: 72px;
              line-height: 1;
          
              font-size: 24px;
            }
            .ag-courses-item_link {
              padding: 22px 40px;
            }
            .ag-courses-item_date-box {
              font-size: 16px;
            }
          }

        /* animation */


        .container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
          }
          
          .card_box {
            justify-content: space-between;
            width: 180px;
            height: 220px;
            border-radius: 20px;
            background-image: url(calender\).png);
            background-size: 230px 250px;
            background-repeat: no-repeat;
            position: relative;
            box-shadow: 0 25px 50px rgba(104, 95, 95, 0.55);
            cursor: pointer;
            transition: all .3s;
            margin: 40px;
            
          }
          .card_box:nth-child(2){
            background-image: url(calendr.jpg);

          }
          .card_box:nth-child(3){
            background-image: url(clender\ 2.jpg);

          }
          .card_box:nth-child(4){
            background-image: url(celender\ 3.jpg);

          }
          .card_box:nth-child(5){
            background-image: url(celender\ 4.webp);

          }
          
          .main-calender{
            display: flex;
            max-width: 1400px;
            margin-left: 5%;
           
          }
          
          .card_box:hover {
            transform: scale(0.9);
          }
          
          .card_box span {
            position: absolute;
            overflow: hidden;
            width: 150px;
            height: 150px;
            top: -10px;
            left: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .card_box span::before {
            content: 'Premium';
            position: absolute;
            width: 150%;
            height: 40px;
            background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
            transform: rotate(-45deg) translateY(-20px);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            box-shadow: 0 5px 10px rgba(0,0,0,0.23);
          }
          
          .card_box span::after {
            content: '';
            position: absolute;
            width: 10px;
            bottom: 0;
            left: 0;
            height: 10px;
            z-index: -1;
            box-shadow: 140px -140px #cc3f47;
            background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
          }

          /* card */
         
